
# python

In [ ]:
print("Basic python on 12/07/2023 at 11:50PM")

Basic python on 12/07/2023 at 11:50PM

The most commonly used Programming Languages for Machine Learning are:
1.Python
2.R

In [ ]:
#print
print("machine learning") #string should have "" or ''
print(8)

machine learning
8

#basic data types
1.int
2.float
3.str

In [ ]:
#basic data types 1.int 2.float 3.str
a=10
b=10.3
c='hello'
d=True
e=1+2j
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

#Constants and Variables

In [ ]:
my_name = 'prasanth_malla'
print (my_name)

prasanth_malla

In [ ]:
my_name='malla_prasanth'
print(my_name)

malla_prasanth

In [ ]:
name1,name2,name3='prasanth',' naidu','malla '
print('my name is '+name3+name1+name2)

my name is malla prasanth naidu

In [ ]:
x=y=z=1

In [ ]:
print(x+y+z)

3

#Input Function

In [ ]:
number1 = input('enter the 1st number ')
print(number1)

enter the 1st number 3
3

In [ ]:
#adding 2 numbers
a=input()
b=input()
sum = a+b
print(sum)#input function always assumes the input value as a string ,
          # so we need to convvert it to integer or required type

12
12
1212

In [ ]:
#we can use int(input()) to take integer value inputs
a = int(input("enter value of a"))
b = int(input("enter value of b"))
sum = a+b
print(sum)#input function always assumes the input value as a string ,
          # so we need to convvert it to integer or required type

enter value of a12
enter value of b12
24

In [ ]:
num = 5
fb=float(num)
print(fb)

5.0

#Lists

In [ ]:
#list
a = [1,2,3,4,5]
print(type(a))

<class 'list'>

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
#list can have multiple data types
b = [1,2,3.3,4+1j]
b

[1, 2, 3.3, (4+1j)]

In [ ]:
#lists are mutable
#adding elements to the list
a = [1,2,3,4,5]
a.append(1)
print(a)

[1, 2, 3, 4, 5, 1]

In [ ]:
#print elements  of lists using index
a=[1,2,3,4,5,5,4,3,2,1]
print(a[0],a[1:3:1],a[::-1])
#lists can have duplicate values

1 [2, 3] [1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [ ]:
#length of lists
print(len(a))

10

In [ ]:
#initializing the empty list
b=[8,9]
b.append(9)
print(b)

[8, 9, 9]

In [ ]:
#delete an item in a list
del b[0]
print (b)

[9, 9]

In [ ]:
#join 2 lists
c=a+b
print(c)

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 9, 9]

#Tuple

In [1]:
#tuple is same as list but immutable
my_list=[1,2,3]
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [3]:
len(my_tuple)

3

#Set

In [7]:
my_set ={1,2,3,"hai"}
print(my_set) #set and tuple cant call elements with their index values

{1, 2, 3, 'hai'}

In [8]:
#convert a list to a set
list_5 = [1,2,3,4,5]
x=set(list_5)

In [9]:
print(x)

{1, 2, 3, 4, 5}

#Dictionary

In [12]:
# key value pair
my_dict={"hello":1,"hai":2}
my_dict["hello"] #set and dictonary doesn't allow duplicate values

1

#Operators in python

1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

In [14]:
#arithmetic Operators
a=10
b=20
sum=a+b
sub=a-b
mul=a*b
div=a/b
modulo=a%b
expo = a**b
print(a,b,sum,sub,mul,div,modulo, expo)

10 20 30 -10 200 0.5 10 100000000000000000000

In [21]:
#assignment Operators
a=12
a+=5
a-=5
a*=3
a/=2
a%=2
a

0.0

In [22]:
#comparison Operators
a=5
b=10
print(a==6)
print(a==b)
print(a<=b,a>=b,a<b,a>b)

False
False
True False True False

In [26]:
#Logical Operators
#and or not
print(True and True,True and False,False and False)
print(True or False,True or True, False or False)
print(not True,not False)

True False False
True True False
False True

In [28]:

#Identity Operaator
#is and is not
x=1
y=3
print(x is y)
print(x is not y)

False
True

In [30]:
#Member ship Operator
a = 5
b=10
c=[1,2,3,4,5,6]
print(a in c,a not in c, b in c, b not in c)

True False False True

#If Else Statements

In [35]:
a = 10
b = 9
if a == 10 :
  print ('hello')
elif a == 9:
  print("no")

hello

#Loops in Python

In [39]:
for i in range(5):
  print(i)

0
1
2
3
4

In [41]:
number = [50,100,90]
print(number)
for i in range(3):
  print(number[i])

[50, 100, 90]
50
100
90

In [46]:
i = 0
while i <= 3:
    print(i)
    i += 1

0
1
2
3

#Functions

In [54]:
#Factorial

def factorials(n):
  factorial = 1
  for i in range(1,n+1):
    factorial = i*factorial
  return factorial
factorials(5)

120